<div class="row">
    <div class="col s3 m4 l3">
      <div class="collection pink-text text-accent-1">
        <a href="/home/owner_notice" class="collection-item pink-text text-accent-2">커뮤 공지사항</a>
        <a href="/home/application_form" class="collection-item active pink accent-2">신청서</a>
        <a href="/home/school_info" class="collection-item pink-text text-accent-2">공지사항</a>
      </div>
    </div>
    <div class="col s9 m8 l9">
        <h4>신 청 서</h4>
<ul>
        <li>임관</li>
        <br>
        <li>외관</li>
        <br>
        <li>나이</li>
        <br>
        <li>성별</li>
        <br>
        <li>성격</li>
        <br>
        <li>학생/선생님</li>
        <p>(해당하는 것만 남기고 지워주세요)</p>
        <br>
        <li>(선생님 지원할 경우)담당 과목(학교 커리큘럼 참고 바랍니다.)</li>
        <br>
        <li>(선생님 지원할 경우)담당 고문 CA(ex.봉제인형 만들기부,코스프레부,스트릿댄스부)</li>
        <br>
        <li>(학생 지원할 경우)문과/이과</li>
        <br>
        <li>비밀 취향</li>
        <p>(취향은 서로 안다는 설정입니다. 오픈하고 싶지 않은 취향은 비설로 남겨주세요.)</p>
        <li>기타</li>
        <br>
        <li>선커</li>
        <P>(1,2기 분들의 융화를 위해 이전 커뮤에서의 관계는 리셋됩니다. AU로 즐겨주시되, 앤캐가 있으신 분들의 선커 설정만 받습니다.)</P>
        <P>----공개되지 않는 신청서----</P>
        <li>비설</li>
        <p><span style="font-weight:bold">*그짝취는 일상커입니다. 명심해주세요... 총괄진 웁니다.....</span></p>
        <br>
        <li>오너 계정</li>
        <li>신청서는 DM을 통해 총괄계(@secret_in_box_3)로 받습니다.</li>
    </div>
</div>