<div class="container">

<div class="image" id="intro">

</div>

<h4>일정</h4>
      <table class="centered fixed">
          <col width="80px" />
          <col width="80px" />
          <col width="80px" />
          <col width="80px" />
          <col width="80px" />
          <col width="80px" />
          <col width="80px" />
        <thead>
          <tr>
              <th>일</th>
              <th>월</th>
              <th>화</th>
              <th>수</th>
              <th>목</th>
              <th>금</th>
              <th>토</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>5/6
            <p>0:00 개장</p>
            </td>
          </tr>
          <tr>
            <td>7
            <p>택배 고사</p>
            </td>
            <td>8
            <p> &nbsp; </p>
            </td>
            <td>9
            <p>견학 수업</p>
            </td>
            <td>10
            <p>23:00 폐장</p>
            </td>
            <td>11
            <p> &nbsp;&nbsp; </p>
            </td>
            <td>12
            <p> &nbsp;&nbsp; </p>
            </td>
            <td>13
            <p> &nbsp;&nbsp; </p>
            </td>
          </tr>

        </tbody>
      </table>


<div class="text">
    <br>
    <% @post.each do |x| %>
    <p> 최근 학생 한마디 : <%= link_to post_path(x) do %> <%= x.title %> </p>
    <% end %>
    <% @last_user = @user.find(x.user_id) %>
    <% if @last_user.present? %>
    <p><%= @last_user.name %> 님이 왔다 가셨어요! </p>
    <% end %>
    <% end %>
</div>

</div>