 <div class="row">
          <div class="col s12 m6 offset-m3 card light-blue lighten-1">
            <div class="card-content white-text">
              <span class="card-title flow-text">선화 고등학교</span>
              <p>선화 고등학교는 개교한 지 5년이 된 사립 고등학교입니다. 선화구 내 아파트단지에 위치해있으며, 전학년 기숙사제로 운영되고 있습니다. 높은 진학률로 많은 학부모들과 학생들이 원하는 학교로 성장하고 있습니다. 학생들은 교과과정 외 각종 CA활동, 자습의 면학 분위기를 통해 수준 높은 교육을 받고 있습니다.</p>
            </div>
          </div>
          
          <div class="col s12 m6 offset-m3 card light-blue lighten-1 card">
            <div class="card-content white-text">
              <span class="card-title flow-text">커리큘럼</span>
              <p>선화고의 커리큘럼은 다음과 같습니다.</p>
            </div>
            <div class="card-tabs">
              <ul class="tabs tabs-fixed-width">
                <li class="tab"><a class="active indigo-text" href="#test4">1학년</a></li>
                <li class="tab"><a class= "indigo-text" href="#test5">2학년</a></li>
                <li class="tab"><a class="indigo-text" href="#test6">3학년</a></li>
              </ul>
            </div>
            <div class="card-content card light-blue lighten-5">
              <div id="test4">고등국어, 영어, 수학1, 수학2, 융합사회, 융합과학, 한국사, 음악, 기술가정
              </div>
              <div id="test5">공통 : 문학, 영어, 미적분1, 한국사, 미술, 체육, 제2외국어(중국어, 아랍어, 스페인어)<br>
              문과 : 사회문화 + 경제/법과정치 중 택1<br>
              이과 : 미적분2, 물리1, 화학1, 생물1, 지구과학1
              </div>
              <div id="test6">공통 : 화법과작문, 영어, 확률과통계, 체육, 제2외국어(중국어, 아랍어, 스페인어)<br>
              문과 : 생활과윤리 + 세계 지리/세계사/동아시아사 중 택1<br>
              이과 : 기하와벡터 + 물리2/화학2/생물2/지구과학2 중 택2
              </div>
            </div>
          </div>
  
    <div class="col s12 m6 offset-m3 card light-blue lighten-1 card">
        <div class="card-content white-text">
          <span class="card-title flow-text">학교 구조</span>
          <p>선화 고등학교는 본관, 별관, 체육관 및 강당, 기숙사 건물(선화관)로 구성되어있습니다.</p>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a class="active indigo-text" href="#bon">본관</a></li>
            <li class="tab"><a class= "indigo-text" href="#byul">별관</a></li>
            <li class="tab"><a class="indigo-text" href="#gisuk">선화관</a></li>
          </ul>
        </div>
        <div class="card-content card light-blue lighten-5">
          <div id="bon">1층 : 3학년 교실, 본 교무실 및 교장실
          <br> 2층 : 2학년 교실, 제 2 교무실
          <br> 3층 : 1학년 교실, 제 3 교무실
          <br> 각 학년별 교실은 5개씩 있습니다. 교실은 방과 후 자습실로 운용됩니다.
        </div>
        <div id="byul">보건실, 실험실, 음악실, 실습실, 교사 숙직실, 기타 기자재 창고가 있습니다.
        </div>
       <div id="gisuk">선善관(여자)-3인 1실<br>
          화花관(남자)-3인 1실<br>
          1방에 1화장실, 3 책상, 3 침대, 3옷장.
      </div>
    </div>
    </div>
    </div>
